<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.techouse.nova-docs</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>2B939AF4-1A27-4D41-96FE-E75C901C780F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86BD40A7-FBB8-4399-8071-960A0B1A74A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86BD40A7-FBB8-4399-8071-960A0B1A74A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBA99647-3C6D-4E29-92A8-A8DC9F32855B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D850B7E1-B6F7-4A5E-8EF6-522CBF4E0A21</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3DF7C207-83B5-41BA-9B9F-159F4A4316A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Klemen Tušar</string>
	<key>description</key>
	<string>A friendly-fast Laravel Nova documentation search</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Laravel Nova Docs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./docs -u</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BBA99647-3C6D-4E29-92A8-A8DC9F32855B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>nova</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching Laravel Nova docs for "{query}"...</string>
				<key>script</key>
				<string>./docs -q "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search the Laravel Nova docs...</string>
				<key>title</key>
				<string>Laravel Nova Docs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2B939AF4-1A27-4D41-96FE-E75C901C780F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>update:workflow</string>
						<key>outputlabel</key>
						<string>Update Workflow</string>
						<key>uid</key>
						<string>D850B7E1-B6F7-4A5E-8EF6-522CBF4E0A21</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Open URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>86BD40A7-FBB8-4399-8071-960A0B1A74A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3DF7C207-83B5-41BA-9B9F-159F4A4316A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search the Laravel Nova documentation using Alfred</string>
	<key>uidata</key>
	<dict>
		<key>2B939AF4-1A27-4D41-96FE-E75C901C780F</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>3DF7C207-83B5-41BA-9B9F-159F4A4316A9</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>86BD40A7-FBB8-4399-8071-960A0B1A74A1</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>BBA99647-3C6D-4E29-92A8-A8DC9F32855B</key>
		<dict>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0.7</string>
	<key>webaddress</key>
	<string>https://github.com/techouse</string>
</dict>
</plist>
